name: login_layout_exercise
description: Exercício-desafio de tela de login com navegação para o trainees da F-Team.


publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.15.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/

fonts:
  - family: OpenSans
    fonts:
      - asset: assets/fonts/OpenSans-Bold.ttf
        style: Bold
  - family: OpenSans
    fonts:
      - asset: assets/fonts/OpenSans-Medium.ttf
        style: Medium
  - family: OpenSans
    fonts:
      - asset: assets/fonts/OpenSans-Regular.ttf
        style: Regular